.data-modal {
    position: fixed;
    top: 20vh;
    left: 0;
    bottom: 30vh;
    width: 15vw; 
    background-color: rgba(0, 0, 0, 0.7); 
    border: oldlace 1px solid;
    border-radius: 10px;
    color: white;
    padding-left: 10px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Bungee Spice', sans-serif;
    font-size: large;
    overflow: auto;
}

.data-modal .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.color-a {
    color: rgb(9, 248, 0);
}
.color-b {
    color: rgb(219, 54, 4);
}

    .landing-button, .yes-no-button {
    background-color: #080ceb; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    }

    .landing-button:hover, .yes-no-button:hover {
    background-color: #45a049;
    }