.game-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.game-intro-content {
    background-color: rgba(59, 48, 48, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    font-family: 'Bungee Spice', sans-serif;
    color: rgb(231, 231, 237);
    text-align: center
}

.game-intro-content h1 {
    text-align: center;
    margin-bottom: 20px;
    color:chocolate;
}

.game-intro-content p {
    margin-bottom: 10px;
    font-size: 20px;
}

.game-intro-content button {
    background-color: #4CAF50; /* green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition-duration: 0.4s;
    width: 100%;
}

.game-intro-content button:hover {
    background-color: #45a049;
}

    @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    }

.fade-in-button {
    animation: fadeIn 2s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 11s; /* Adjust this to be longer than the delay for the last p element */
    }

    .fade-in-text {
    animation: fadeIn 2s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    }

    .fade-in-text:nth-child(1) {
    animation-delay: 1s;
    }

    .fade-in-text:nth-child(2) {
    animation-delay: 3s;
    }

    .fade-in-text:nth-child(3) {
    animation-delay: 5s;
    }

    .fade-in-text:nth-child(4) {
    animation-delay: 7s;
    }

    .fade-in-text:nth-child(5) {
    animation-delay: 9s;
    }