.login-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.login-modal-content {
    background-color: rgba(60, 50, 60, 0.1);
    border: 1px solid rgba(14, 255, 1, 0.973);
    padding: 20px;
    border-radius: 5px;
    color: rgb(231, 231, 237);
    text-align: left;
    font-size: large;
    font-family: 'Bungee Spice', sans-serif;
}
.login-modal-content input {
    padding: 8px;
    margin: 10px;
    width: 90%;
    box-sizing: border-box;
}

.login-modal-content button {
    padding: 20px;
    margin: 10px;
    width: 90%;
    box-sizing: border-box;
    background-color: rgba(5, 255, 168);
    color: rgb(10, 12, 12);
    border: none;
    border-radius: 5px;
    font-size: larger;
    cursor: pointer;
}
.login-modal-content h2 {
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
    .login-form label {
        width: 80%;
        text-align: left;
        margin-left: 10px;
    }

    .login-form input {
        width: 90%;
        margin: 25 25 25 0;
    }
    .login-form button {
        width: 90%;
        margin: 25 25 25 0;
    }