@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Montserrat:wght@300');

.App {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    align-items: center; /* Center children vertically */
    justify-content: center; /* Center children horizontally */
    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 600px) {
    .App {
        flex-direction: column;
    }
}

.gauge {
    flex: 1 0 auto;
    margin: 10px; 
}

