.App {
    /* Default styles for large screens */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

@media (max-width: 600px) {
    .App {
        /* Adjusted styles for small screens */
        flex-direction: column;
    }
}
.gauge {
    flex: 1 0 auto;
    margin: 10px; /* Adjust this value as needed */
}

