.App {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    align-items: center; /* Center children vertically */
    justify-content: center; /* Center children horizontally */
}

@media (max-width: 600px) {
    .App {
        flex-direction: column;
    }
}

.gauge {
    flex: 1 0 auto;
    margin: 10px; 
}

